<mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Registrarse</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/login">¿Ya tienes una cuenta? Inicia Sesión</button>
    </mat-card-actions>
  </mat-card>